{% extends 'base.html.twig' %} {% block body %}
<div class="App-page">

    <div class="App-form-login">
        <h3>Formulaire de connexion</h3>
        <form action="{{ path('security_login') }}" method="POST">
            <div class="App-form-group">
                <input placeholder="Adresse mail" required name="_username" type="text" class="app-form-registration" />
                <input placeholder="Mot de passe" required name="_password" type="password" class="app-form-registration" />
            </div>
            <div class="App-form-group-validate">
                <button class="btns_plus" type="submit" >Se connecter</button>
                <a href="{{ path('security_registration') }}">Pas encore de compte</a>
                <a href="{{path('home')}}">Retour à l'acceuil</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}