{% extends 'base.html.twig' %}

{% block title %}Notre boutique{% endblock %}

{% block body %}

<section class="App-articles">
    <article>
    <div class="content">
        <img src="http://placehold.it/150x150" alt="image de l'objet a vendre">
    </div>
    
    </article>
</section>

{% endblock %}
